name: plant_monitor
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.6.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  fl_chart: ^0.66.2
  firebase_auth: ^6.1.3
  firebase_core: ^4.3.0
  google_sign_in: ^6.2.1
  cloud_firestore: ^6.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true
  assets:
    - assets/google_logo.png
    - assets/logo.png
    - assets/Login_Background.jpeg